aside{
    background-color: rgb(15, 15, 15);
    color: white;
}
.product{
    background-color: rgb(235, 235, 235);
}
.bigBody{
    height: auto;
}
footer{
    background-color: rgb(15, 15, 15);
    color: white;
}